@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

:root {
	--main: #ff72d9;
	--black: linear-gradient(129.76deg, #2c2c2c 3.53%, #464646 101.21%);
	--white: #ffffff;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}
body {
	background: var(--black) no-repeat;
	color: var(--white);
}
#background {
	height: min(12.3vh, 100px);
	background: var(--main);
	background: url(Assets/Landing/background.svg);
	background-size: cover;
}
.landing-page {
	width: min(80%, 360px);
	margin: min(5.2vh, 3rem) auto;
	position: relative;
}
.landing-page::after {
	content: '';
	background: url(Assets/Landing/dots.svg);
	background-size: 100%;
	position: absolute;
	width: min(12.8vw, 3rem);
	aspect-ratio: 0.94;
	top: 0;
	right: -2.3vw;
}
h1 {
	font-size: clamp(2.5rem, 14.8vw, 4rem);
	line-height: 100%;
	letter-spacing: 0.04rem;
}
h2.hello {
	color: var(--main);
	font-weight: 400;
	font-size: clamp(1.85rem, 11.1vw, 3rem);
	line-height: 110%;
}
h2.presentation {
	font-weight: 300;
	font-size: clamp(1.25rem, 7.4vw, 2rem);
	line-height: 160%;
	letter-spacing: -0.025rem;
}
h2.presentation::after {
	content: ' 😛';
	font-size: clamp(1rem, 5.55vw, 1.5rem);
}
.social h2 {
	font-size: clamp(1.4rem, 8.325vw, 2.25rem);
	font-weight: 600;
	text-align: center;
	line-height: 116.2%;
	margin-bottom: 0.86vh;
}
.social ul {
	list-style: none;
	margin-bottom: 5.2vh;
}
.social li {
	min-height: clamp(2rem, 7vw, 2.5rem);
	width: min(60vw, 270px);
	margin: auto;
	position: relative;
	margin-bottom: 0.86vh;
}
.social a {
	font-weight: 400;
	font-size: clamp(1rem, 5vw, 1.2rem);
	color: var(--white);
	text-align: left;
	height: clamp(2rem, 7vw, 2.5rem);
	line-height: clamp(2rem, 7vw, 2.5rem);

	position: absolute;
	left: 0;
	text-decoration: none;
}
.social img {
	width: clamp(2rem, 7vw, 2.5rem);
	aspect-ratio: 1;
	position: absolute;
	right: 0;
}
.projects {
	background: url(Assets/Projects/background-projects.svg);
	padding: 3.5vh 0;
	background-size: 100% 100%;
	border-radius: 2rem 2rem 0 0;
}
.project {
	border-radius: 1.25rem;
	width: 80vw;
	margin: 0 auto 1.75vh auto;
	height: clamp(120px, 40vh, 600px);
	position: relative;
}
.about {
	background: var(--black);
	height: 17.3%;
	width: 100%;
	border-radius: 0 0 1.25rem 1.25rem;
	position: absolute;
	bottom: 0;
	text-align: center;
	transition: 0.27s ease-out;
	transition-property: height, border-radius;
}
.about img {
	width: 8%;
	height: 100%;
	transition: 0.27s ease-out;
	transition-property: height, transform;
}
.about .about-text {
	text-align: left;
	font-size: max(1.4vh);
	padding: 0 10%;
	display: none;
	font-weight: 300;
}
.about .about-text span {
	font-weight: 600;
}
.about .about-text ul {
	list-style: none;
}
.about .about-text a {
	color: var(--white);
	background-color: var(--main);
	text-decoration: none;
	margin-left: 79.75%;
	padding: 5px 10px;
	border-radius: 0.5rem;
}
.about.active {
	height: 100%;
	border-radius: 1.25rem;
}
.about.active img {
	height: 15%;
	transform: rotate(-180deg);
}
.about.active .about-text {
	display: block;
	animation: appear 0.5s ease-in;
}
@keyframes appear {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
#cocktail {
	background: url(Assets/Projects/cocktail-app.avif);
	background-size: cover;
}
#solarium {
	background: url(Assets/Projects/solarium.avif);
	background-size: cover;
}
#helpvice {
	background: url(Assets/Projects/helpvice.avif);
	background-size: cover;
}
#day2day {
	background: url(Assets/Projects/day2day.avif);
	background-size: cover;
}

@media only screen and (min-width: 992px) {
	#background {
		height: min(21.3vh, 200px);
	}
	.landing-page {
		width: min(80%, 1024px);
		margin: 14vh auto;
	}
	.landing-page::after {
		width: min(6.8vw, 6rem);
		top: -3.6vh;
		left: max(-7.86vw, -6rem);
	}
	h1 {
		font-size: 6rem;
	}
	h2.hello {
		font-size: 4rem;
	}
	h2.presentation {
		font-size: 2.5rem;
	}
	h2.presentation::after {
		font-size: 2rem;
	}

	.social {
		position: absolute;
		top: 35vh;
		right: max(10vw, calc(50vw - 512px));
	}
	.social h2 {
		font-size: 2.5rem;
		text-align: right;
		margin-bottom: 0.8vh;
	}
	.social li {
		width: 100%;
		margin: 0;
		margin-bottom: 0.8vh;
	}
	.social a {
		font-size: 1.5rem;
		text-align: right;
		line-height: 3.7vh;
		margin-right: 0;
		position: absolute;
		right: 3vw;
	}
	.social img {
		width: 2vw;
		height: 2vw;
		position: absolute;
		right: 0;
	}

	.projects {
		padding: 7.3vh 0;
		border-radius: 4rem 4rem 0 0;
	}
	.project {
		border-radius: 3rem;
		width: 72vw;
		margin: 0 auto 3.25vh 10vw;
		height: 80vh;
		filter: drop-shadow(0 0.5rem 2rem rgba(0, 0, 0, 0.25));
	}
	.project:nth-child(even) {
		margin: 0 auto 3.25vh 18vw;
	}

	.about {
		border-radius: 0 0 3rem 3rem;
	}
	.about img {
		width: 6.6%;
	}
	.about .about-text {
		font-size: 1.5rem;
	}
	.about .about-text li {
		margin-top: 2vh;
	}
	.about .about-text a {
		margin-left: 80%;
		padding: 0.6rem 2rem;
		border-radius: 0.8rem;
		transition: 0.2s ease-out;
		transition-property: background-color;
	}
	.about .about-text a:hover {
		background-color: #ffa0e6;
	}
	.about.active {
		border-radius: 3rem;
	}
	.about.active img {
		height: 15%;
	}
}
