@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Slab:wght@200;400&display=swap');
body{
    padding: 10vmax 10vmin;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    width: 65%;
    margin: auto;
}
p{
    text-indent: 2em;
}
h1{
    color: #e020ac;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}